.card {
    width: 360px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    border: 0.2px solid grey;
    border-radius: 5px;
    padding: 15px;
    background-color: white;
}
.title {
    margin-top: 0;
    margin-left: 0;
}
.img {
    width: 360px;
}
.description {
    width: 340px;
    height: 80px;
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.row2 {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.yes {
    width: 90px;
    height: 27px;
    background-color: #9FDBF7;
    color: white;
    margin-right: 5px;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: 700;
}
.no {
    width: 90px;
    height: 27px;
    background-color: #F7A09F;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: 700;
}
.win {
    width: 55px;
    height: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #4667F9;
    color: white;
    border-radius: 5px;
    font-weight: 700;
}
.lose {
    width: 49px;
    height: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F94846;
    color: white;
    border-radius: 5px;
}