.container {
    width: 390px;
    height: 80vh;
    margin: 0 auto;
    display: flex;  
    flex-direction: column;  
}

.text-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}


.button-container {
    display: flex;
    flex-direction: row;

}

.left-button {
    width: 170px;
    height: 220px;
    background-color: #FEE5E4;
    border-radius: 20px;
}

.right-button {
    width: 170px;
    height: 220px;
    background-color: #C6E0F1;
    border-radius: 20px;
}